<section class="movie-wrapper">
  <p-button
    label="Back"
    severity="secondary"
    [outlined]="true"
    (click)="onBackClick()"
  />
  <p-card *ngIf="movie" [header]="title" class="movie-card">
    <div class="movie-card-container">
      <p-image
        *ngIf="movie.image"
        [src]="movie.image"
        alt="Image"
        width="250"
      />
      <div class="movie-card-info">
        <div class="movie-card-subtitle">
          <li *ngIf="movie.duration">{{ movie.duration }}</li>
          <li *ngIf="movie.language">{{ movie.language }}</li>
          <div *ngIf="movie.rating" class="movie-card-rating">
            <li>{{ movie.rating }}</li>
            <i class="movie-card-rating-icon" class="pi pi-star-fill"></i>
          </div>
        </div>
        <div class="movie-card-extra-info">
          <p>{{ movie.summary }}</p>
          <p>Director: {{ movie.director }}</p>
        </div>
      </div>
    </div>
  </p-card>
</section>
