.movie-card {
  width: 100%;
  max-width: 40rem;
}

.movie-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.movie-card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.movie-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-card-subtitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.pi-star-fill:before {
  color: gold;
}

.movie-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.movie-card-extra-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (max-width: 512px) {
  .movie-card-container {
    flex-direction: column;
    gap: 1rem;
  }

  .movie-card-subtitle {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .movie-card-subtitle li {
    list-style: none;
  }
}
