.movies-wrapper,
.movies-table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-row {
  cursor: pointer;
}

.movie-row:hover {
  background-color: rgb(110, 110, 110);
}

@media only screen and (max-width: 512px) {
  .movies-wrapper,
  .movies-table {
    display: block;
  }
}
